<div class='title-bar'>
  <div class='title'>LinkBoy</div>

  <div class='right-title-group'>
    <% if ENABLE_MULTI_TEAM %>
      <div class='team-select-container'>
        <span>Select team:</span>
        <%= form_tag update_active_team_path, class: 'switch-user-form' do %>
          <%= select_tag('team_id', options_for_select(@user_teams.map { |team| [team.name, team.id]}, current_user.active_team.id) {}, {class: 'team-select'}) %>
        <% end %>
      </div>

      <div class='team-sign-in'>
        <%= link_to 'Add another team', add_account_path %>
      </div>
    <% end %>

    <div class='sign-out-button'><%= link_to 'Sign Out', session_path, method: :delete %></div>
  </div>
</div>

<div class='links-container'>
  <% @links.each do |link| %>
      <div class='link-box-container'>
        <%= link_to link_path(link) do %>
          <div class=link-box>
            <div class='link-image-container'>
              <%= image_tag(link_image_path(link), class: 'link-image') %>
            </div>
            <div class='link-title'>
              <%= link.title %>
            </div>
            <div class='link-domain'>
              <%= link_domain(link) %>
            </div>
              <%= link_to '(Delete)', link_path(link), method: :delete %>
          </div>
        <% end %>
    </div>
<% end %>
</div>
